.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social li {
    list-style: none;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social li i {
    font-size: 40px;
    color: #1d1d1b;
}

.social li a {
    color: #1d1d1b;
}

.social li span {
    font-size: 16px;
    margin-top: 10px;
}

p {
    text-align: center;
    font-family: 'roboto-regular';
    font-size: 20px;
}

@media screen and (min-width: 968px) {
    .social {
        flex-direction: row;
        justify-content: space-evenly;
    }
}