.hero {
    width: 100%;
}

.hero .hero-content>img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    min-width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 350px;
    background: #012b4d url('../images/cover.jpg') no-repeat center / cover;
    background-blend-mode: multiply;
    color: #fff;
    background-size: auto;
}

.hero .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content p {
    font-family: 'roboto-bold';
    font-size: 20px;
}

.hero-content ul {
    font-family: 'roboto-regular';
    font-size: 16px;
}

.hero .hero-content ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
}

.hero .hero-content ul li {
    flex-direction: column;
    padding: 10px 0;
}

.hero .hero-content ul li:last-child {
    border: none;
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        min-height: 400px;
    }

    .hero .hero-content ul {
        flex-direction: row;
    }

    .hero .hero-content ul li {
        padding: 0 10px;
        border-right: 2px solid #fff;
    }
    
    .hero .hero-content ul li:last-child {
        border: none;
    }

    .hero-content p {
        font-size: 26px;
    }
    
    .hero-content ul {
        font-size: 22px;
    }
}