.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'roboto-light';
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'roboto-italic';
  src: url('./fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'rocksalt';
  src: url('./fonts/RockSalt-Regular.ttf');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'roboto-regular';
  background-color: #DFDBDB;
  color: #1D1D1B;
}

button {
  padding: 16px 10px;
  border: none;
  background-color: #1D1D1B;
  color: #fff;
  font-family: 'roboto-bold';
  font-size: 16px;
  min-width: 200px;
}

input,
textarea {
  padding: 12px 10px;
  border: 1px solid #1d1d1b;
  font-size: 16px;
  box-sizing: border-box;
}

p, ul, li, body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
}

:global(.heading) {
  font-family: 'rocksalt';
  padding: 20px 0;
}

:global(.reactComponent) {
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  min-width: 100%;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  :global(.reactComponent) {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
  }
}